{% extends 'process_base.html' %}
{% load staticfiles %}

{% block nav %}
    <script>
        function PDFProcess(operation, token) {
            $('.probootstrap-animate.active').removeClass('active')
            $('#nav-' + operation).addClass('active')
            $.post(".", {operation: operation, csrfmiddlewaretoken: token}, function success(res) {
                result = res['result']
                if (result) {
                    if (operation == 'extraction') {
                        metadata = res['metadata']
                        $('#metadata').append(`<h5 align="center">Metadata:</h5>`)
                        {#for (var key in metadata) {#}
                        {#    $('#metadata').append(`<p class="mb-5" align="center" >${key}:${metadata[key].join(" ")}</p>`)#}

                    } else if (operation == 'buildkg') {
                        location.reload()
                    }
                } else {
                    alert("Something wrong with the operation!")
                }
            })
        }
    </script>

    <nav class="probootstrap-nav">
        <ul>
            <li class="probootstrap-animate active" id="nav-preview" data-animate-effect="fadeInLeft">
                <a href="">Preview</a>
            </li>
            <li class="probootstrap-animate" id="nav-extraction" data-animate-effect="fadeInLeft">
                <a href="{% url 'metadata' pk=obj.pk %}">Metadata Extraction</a>
            </li>
            <li class="probootstrap-animate" id="nav-buildkg" data-animate-effect="fadeInLeft">
                <a href="javascript:void(0);" name="buildkg" title="{{ csrf_token }}"
                   onclick="PDFProcess(this.name, this.title)">Build KG</a>
            </li>
            <li class="probootstrap-animate" id="nav-history" data-animate-effect="fadeInLeft">
                <a href="{% url 'opt_history' pk=obj.pk %}">Operation History</a>
            </li>


            <li class="probootstrap-animate" data-animate-effect="fadeInLeft">
                {% if user.is_superuser %}
                    <a href="{% url 'upload_history_admin' adminname=user.username %}">Back</a>
                {% else %}
                    <a href="{% url 'upload_history_user' username=user.username %}">Back</a>
                {% endif %}
            </li>
            <li class="probootstrap-animate" data-animate-effect="fadeInLeft">
                <a href="{% url 'logout' %}">Log Out</a>
            </li>
        </ul>
    </nav>
{% endblock %}


{% block card %}
    <div class="container-fluid" id="title">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-12">
                <div class="row">
                    <div class="col-xl-8 col-lg-12 mx-auto">
                        <h5 align="center">Title: {{ obj.title }}</h5>
                        <h6 align="center">Created at: {{ obj.created }}</h6>
                    </div>
                </div>
            </div>
            <iframe src="/static/pdf.js/web/viewer.html?file=/media/pdf/{{ obj.title }}"
                    name="pdf_preview" Height="600px" width="840px">
            </iframe>
        </div>
    </div>

{% endblock %}
