{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Upload
{% endblock %}

{% block css %}
    <link href="{% static 'bootstrap/css/upload.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 align="center" style="color: lightgray">Upload a paper</h1>
    <form method="post" enctype="multipart/form-data" class="form-upload">
        {% csrf_token %}
        {% if request.GET.way == "local" %}
            <div style="color: white; ">
                {{ form.title.label_tag }}<br>
            </div>
            {{ form.title }}<br><br>
            <div style="color: white; ">
                {{ form.cover.label_tag }}<br>
            </div>
            {{ form.cover }}<br>

        {% elif request.GET.way == "online" %} <br><br>
            <div style="color: white; ">
                {{ form.title.label_tag }}<br>
            </div>
            {{ form.title }}<br>
            <div style="color: white; ">
                {{ form.url.label_tag }}<br>
            </div>
            {{ form.url }}<br>

        {% endif %}
        {% for post in form %}
            {% for error in post.errors %}
                <p style="color: red">{{ post.label_tag }} {{ error }}</p>
            {% endfor %}
        {% endfor %}

        <br>
        <button class="btn btn-lg btn-primary btn-block" id="upload" type="submit">Upload</button>
    </form>
{% endblock %}
